/*------------------------------------------------- */
/* Basic Rig */
/*------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/*---------------------Reusable Code----------------------*/

/*-----------------Blue Color #2980b9 --------------------------*/



.row {
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}
h1,
h2,
h3{
    
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
h1{
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 3px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #2980b9;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*----------Paragraphs-------------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box p{
    font-size: 90%;
    line-height: 140%;
    
}
/*----------Paragraphs-------------*/
.butt:link,
.butt:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 200;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.5s,border 0.2s, color 0.2s;
        
}
/*----------Icon-------------*/

.icon-big{
    font-size: 350%;
    display: block;
    color: #2980b9;
    margin-bottom: 10px;
    
    
        
}



/*----------Buttons-------------*/

.butt-full:link,
.butt-full:visited{
    background-color: #2980b9;
     border: 1px;
}
.butt-ghost:link,
.butt-ghost:link{
    background-color: #2980b9;
    border: 1px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.butt:hover,
.butt:active{
    background: #2955b9
     
      
}
/*------------------------Header------------------*/

header{
    background-image: linear-gradient(#000,rgba(0, 0, 0, 0)), url(img/e065f812-dfb6-4995-9541-1a5d3912f297.jpg),linear-gradient(#c40808,#000) ;
    height: 100vh;
    background-size: cover; 
    background-position: center;
}
.online-lessons{
    background-image: linear-gradient(#000,#2980b9), url(img/e065f812-dfb6-4995-9541-1a5d3912f297.jpg),linear-gradient(#c40808,#000) ;
    height: 100vh;
    background-size: cover; 
    background-position: center;
    
}

.slogan-text {
    position: absolute;
    width: 1250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
        
    }
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    
}
.main-nav li{
    display: inline;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
   color: #fff; 
   text-decoration: none;
   text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
   
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #2980b9;
    
/*--------------------Courses------------------*/
}
.course-showlist {
    list-style: none;
    width: 100%;
    
}
.course-showlist li{
    display: block;
    float: left;
    width: 25%;
    
}
.language-photo{
    width: 100%;
    margin: 30%;
    overflow: hidden;
}
.language-photo img{
    opacity: 0.7;
    width: 100;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.language-photo img:hover {
    transform: scale(1);
    opacity: 1;
}






